<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><h2>Usage instructions:</h2></p>
    <code>send a POST request with the unfiltered JSON at http://www.nine.herokuapp.com/unfiltered</code>
  </body>
</html>
